<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
</head>
<body>
<h1>Title</h1>
<p>hello!</p>
<p th:text="'The current time is: ' + ${currenttime}" />
</body>
<form action="/questions/" method="POST">
    <label>Question: <input type="text" name="question" /></label>
    <input type="submit">
</form>

<table border="1">
    <tr>
        <th>Question</th>
        <td>Votes</td>
        <td>Upvotes</td><
        <td>Downvotes</td>

    </tr>aa
    <tr th:each="question : ${question}">
        <td th:text="${question.question}"></td>
        <td th:text="${question.votes}"></td>
        <td>
            <a th:href="'/questions/' + ${question.id} + '/upvote'">Upvote</a>
        </td>
        <td>
            <a th:href="'/questions/' + ${question.id} + '/downvote'">Downvote</a>
        </td>
    </tr>
</table>

</html>